rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la aplicación y tienda virtual Imperio Lux
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
